/* Global */
body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url("./img/sample-pattern.png")
}

/* Header */
header {
    min-height: 45px;
    background-color: white;
    padding-top: 10px;
    color: black;
    width: 100%;
}

header ul li{
    display: inline-block;
    float: left;
    padding: 0px 15px;
    margin-top: -5px;
}

header nav {
    margin-right: 3%;
    float: right;
}

#logo {
    float: left;
    padding-left: 10px;
    cursor: pointer;
}

/* Section */
section h1 {
    font-weight: inherit;
    font-style: oblique;
    text-align: center;
    font-size: 40px;
    font-family: serif;
    color: rgb(34, 34, 34);
}

article {
    position: relative;
    padding: 10px 15px;
    margin: 3px 20%;
    background-color: white;
}

article a {
    text-decoration: none;
}

/* footer */
footer {
    width: 100%;
    background-color: black;
    margin-top: 76px;
    padding: 4px 0;
    color: whitesmoke;
    text-align: center;
    font-weight: inherit;
}